.main {
  min-height: 80vh;
}
.info {
  background: url("./assets/image.jpg") no-repeat;
  background-size: cover;
}
.info > div {
  background: rgb(53, 49, 49);
  color: white;
  padding: 3rem;
  margin: 2rem;
  border-radius: 10px;
}

/* dashboared */

.dashboard-layout {
  width: 100vw;
  display: flex;
}

.dashboard-main {
  flex: 3;
  display: flex;
  flex-direction: column;
  /* margin: 30px; */
}
aside {
  flex: 0.5;
  min-height: 100vh;

  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(75, 156, 25, 0.6551412801448704) 100%
  );
}
.top {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem auto;
}
.top img {
  width: 50%;
  border-radius: 50%;
}
.bottom ul {
  padding: 0;
  list-style: none;
}
.bottom {
  padding-left: 15px;
}

.bottom ul .link {
  display: flex;

  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  text-decoration: none;
}
.bottom ul .link:hover {
  background: #000;
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  text-decoration: underline;
}

.bottom ul .title {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem 0;
  text-decoration: underline;
}
.bottom ul .link li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content {
  min-height: 80vh;
}

.add-bottom,
.add .add-top {
  padding: 2rem;
  margin: 20px;
  box-shadow: 2px 4px 10px 1px green;
}
.add-top {
  display: flex;
  justify-content: start;
}

.add-top h1 {
  color: rgb(169, 21, 21);
  font-size: 1.5rem;
}
.add-bottom {
  display: flex;
  gap: 1rem;
}

.add-bottom label {
  font-weight: 500;
}
